.purchases__title {
    padding: 1rem;
    text-align: center;
}

.prodpurchases__container {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em auto;
    padding: 1em;
}

.f-grow {
    flex-grow: 1;
    flex-basis: 0;
    align-self: center;
}

.prodpurchases__img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.prodpurchases__prod {
    font-size: 12px;
    text-align: start;
    padding: 1.5em;
}

.prodpurchases__unid {
    border: 2px solid gray;
    text-align: center;
    max-width: 38px;
}

.prodpurchases__price {
    text-align: end;
    max-width: 70px;
}


@media (min-width: 900px) {
    .prodpurchases__container {
        max-width: 900px;
    }

    .purchases__title {
        padding: 2rem 5rem;
    }

    .prodpurchases__price {
        max-width: 137px;
    }
}