.product {
  width: 100%;
  max-width: 320px;
  border: 2px solid var(--dark-color);
  background-color: white;
  transition: transform 200ms ease;
  cursor: pointer;
  border-radius: 0.8em;
  min-width: 250px;
  margin: 5px;
}
.product:hover {
  transform: scale(1.03);
}
.product__header {
  border-bottom: 2px solid var(--dark-color);
  padding: 1.5rem;
  width: 100%;
  aspect-ratio: 1.5;
  position: relative;
}
.product__img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 500ms ease;
}
.product__img-1 {
  opacity: 1;
}
.product__img-2 {
  opacity: 0;
}
.product__header:hover .product__img-1 {
  opacity: 0;
}
.product__header:hover .product__img-2 {
  opacity: 1;
}
.product__body {
  padding: 1em 1.4em 2.5em;
  position: relative;
}
.product__section {
  margin-bottom: 1em;
}
.product__subtitle {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 0.3em;
}
.product__title {
  font-size: 16px;
  font-weight: 700;
}
.product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product__price-label {
  color: var(--dark-color);
  font-size: 0.9rem;
}

.product__btn-icon:hover {
  filter: brightness(1.2);
}

.product__btn {
  color: white;
  background-color: var(--dark-color);
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  right: 2rem;
  bottom: 1.5rem;
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: 0 5px #999;
}

.product__btn:hover {
  background-color: var(--main-color);
}

.product__btn:active {
  background-color: var(--main-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
