.price__container {
  display: flex;
  flex-direction: column;
}

.price_container-first {
  display: flex;
  flex-direction: column;
}

.price__filter {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: var(--dark-color);
}

.price_title {
  text-align: center;
  margin: 0;
}

.price_line {
  border-style: inset;
  border-width: 1px;
  width: 100%;
  margin-top: 0.5rem 0;
}

.price_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.price_input {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  width: 175px;
  height: 25px;
}

.price_item {
  display: flex;
  flex-direction: column;
}

.price_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 180px;
  height: 25px;
  background-color: var(--dark-color);
  color: white;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .price__container {
    margin-top: 3em;
    margin-left: 1.05rem;
  }
  .price_form {
    align-items: flex-start;
  }
}
